        </div>
        <div class="footer-container">
          <footer class="footer">
            <div class="container text-center">
              <span class="text-muted">
                <p>Created by 
                  <a href="https://www.github.com/richard-paredes">Richard Paredes</a>
                </p>
              </span>
            </div>
          </footer>
        </div>
        
        <!-- jQuery CDN -->
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

    <!-- Bootstrap JS CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>