<% include ../partials/header %>

    <div class="row centered">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form action="/users/forgot" method="POST">
                <legend>Forgot Password</legend>
                <div class="form-group">
                    <label for="email">Account E-Mail</label>
                    <input type="email" name="email" autofocus class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Reset Password">
                </div>
            </form>
        </div>
    </div>

<% include ../partials/footer %>